{% extends 'bookings/base.html' %}
{% block content %}
{% load static %}
 <main role="main" class="inner cover">
    <br>
    <h1 class="cover-heading">Booking Confirmed</h1>
    <br>
    <p>We are looking forward to seeing you at the club!</p>
    <br>
    <img class="img-fluid" src="{% static 'emporer.jpg' %}" width="60%">
    <br>
    <br>
    <div>
    <p>'They shall be my finest warriors, these men who give themselves to me.</p>
    <p>Like clay I shall mould them and in the furnace of war I shall forge them.</p>
    <p>They will be of iron will and steely muscle.</p>
    <p>In great armour shall I clad them and with the mightiest gun shall they be armed.</p>
    <p>They will be untouched by plague or disease, no sickness will blight them.</p>
    <p>They will have tactics, strategies and machines such that no foe will best them in battle.</p>
    <p>They are my bulwark against the terror.</p>
    <p>They are the defenders of Humanity.</p>
    <p>They are my Space Marines...</p>
    <p>...and they shall know no fear.'</p>
    <p>-The Emperor of Mankind</p>
    </div>
    <br>
    <br>
    <p>Prepare your weapons and fire up the warp drives for battle draws near!</p>
  </main>
{% endblock %}